<template>
  <div class="pay-admin-users-table">
    <div class="table-outer">
      <div class="table-header">
        <div class="table-ceil">Имя</div>
        <div class="table-ceil">Логин</div>
        <div class="table-ceil">E-mail</div>
        <div class="table-ceil">Роль</div>
        <div class="table-ceil">Действия</div>
      </div>
      <payUserTableItem v-for="(user, i) of GET_USERS" :key="'user_'+i" :user="user" />
    </div>
    <div class="btn btn-primary button" @click="formOpen=true">Добавить пользователя</div>
    <payUserCreateForm @close="formOpen=false" v-if="formOpen" />
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import payUserTableItem from './payUserTableItem';
import payUserCreateForm from './payUserCreateForm';

export default {
  name: "pay-admin-users-table",
  components:{
    payUserTableItem,
    payUserCreateForm
  },
  data() {
    return {
      linesQuantity: 10,
      formOpen:false
    };
  },
  computed: {
    ...mapGetters(["GET_USERS"])
  },
  methods: {
    ...mapActions(["USERS"])
  },
  created() {
    this.USERS();
  }
};
</script>

<style lang="scss">
.pay-admin-users-table {
  @include table-holder;

  .table-outer {
    border-top: solid 1px #e1e1e1;
    border-left: solid 1px #e1e1e1;
    background-color: #fff;

    .table-header {
      font-weight: bold;
      font-size: 16px;
      text-align: center;
      display: grid;
      grid-template-columns: 25% 20% 25% 20% 10%;
      border-bottom: solid 1px #e1e1e1;

      .table-ceil {
        border-right: solid 1px #e1e1e1;
        height: 100%;
        padding: 3px;
        padding-bottom: 10px;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        text-align: center;
      }
    }
  }

  .button{
    display: block;
    max-width: 240px;
    margin: 20px 7px 0 auto;
  }
}
</style>
