<template>
  <div class="pay-user-table-item">
    <div class="table-ceil">
      <span>{{ user.name }}</span>
    </div>
    <div class="table-ceil">
      <span>{{ user.login }}</span>
    </div>
    <div class="table-ceil">
      <span>{{ user.email }}</span>
    </div>
    <div class="table-ceil">
      <span>{{ user.role }}</span>
    </div>
    <div class="table-ceil btns-container">
      <button class="btn btn-danger" @click="DELETE_USER(user._id)">удалить</button>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "pay-user-table-item",
  props: {
    user: {
      type: Object,
      default() {
        return {};
      }
    }
  },
  computed: {},
  methods: {
    ...mapActions(["TRANSACTION_STATUS", "DELETE_USER"])
  }
};
</script>

<style lang="scss">
.pay-user-table-item {
  display: grid;
  grid-template-columns: 25% 20% 25% 20% 10%;
  border-bottom: solid 1px $border-color;

  .table-ceil {
    border-right: solid 1px $border-color;
    height: 100%;
    padding: 5px 7px 5px 7px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
  }

  .btns-container {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr ;
    grid-gap: 10px;
  }

  .button{
    display: block;
    max-width: 180px;
    margin: 10px 0 0 auto;
  }
}
</style>
