<template>
  <div class="pay-user-craete-form">
    <form class="popup-holder">
      <button
        type="button close-button"
        @click.prevent="$emit('close')"
        class="close"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="form-header">Добавить пользователя</h4>
      <label for="select-role">Роль:</label>
      <select required v-model="role" name class="form-control" id="select-role">
        <option selected value="user">Пользователь</option>
        <option value="admin">Администратор</option>
      </select>
      <label for="name">Имя:</label>
      <input
        required
        v-model="name"
        type="text"
        placeholder="Виктор Романов"
        class="form-control"
        id="name"
      />
      <label for="email">E-mail:</label>
      <input
        required
        v-model="email"
        type="email"
        placeholder="example@mail.ru"
        class="form-control"
        id="email"
      />
      <label for="login">Логин:</label>
      <input
        required
        v-model="login"
        type="text"
        placeholder="Login"
        class="form-control"
        id="login"
      />
      <label for="pwd">Пароль:</label>
      <input
        required
        v-model="password"
        type="password"
        placeholder="passwod"
        class="form-control"
        id="pwd"
      />
      <label for="pwd-confirm">Подтверждение пароля:</label>
      <input
        required
        v-model="passwordConfirm"
        type="password"
        placeholder="passwod"
        class="form-control"
        id="pwd-confirm"
      />
      <button @click.prevent="submit()" class="btn btn-primary submit-button">Добавить</button>
    </form>
  </div>
</template>

<script>
import { mapMutations, mapActions } from "vuex";

export default {
  name: "pay-user-craete-form",
  data() {
    return {
      role: "user",
      name: "",
      email: "",
      login: "",
      password: "",
      passwordConfirm: ""
    };
  },
  methods: {
    ...mapMutations(["SET_ALERT"]),
    ...mapActions(["CREATE_USER"]),
    submit() {
      let errors = "";
      if (this.name == "") {
        errors += "Введите имя<br>";
      }
      if (this.email == "") {
        errors += "Введите корректный почтовый адрес<br>";
      }
      if (this.login == "") {
        errors += "Введите корректный логин<br>";
      }
      if (this.password == "") {
        errors += "Введите корректный логин<br>";
      }
      if (this.password.length < 6) {
        errors += "Пароль должен состоять не менее, чем из 6-и символов<br>";
      }
      if (this.password !== this.passwordConfirm) {
        errors += "Пароли не совпадают<br>";
      }

      if (errors.length !== 0) {
        this.SET_ALERT(errors);
      } else {
        this.CREATE_USER({
          name: this.name,
          login: this.login,
          email: this.email,
          password: this.password,
          role: this.role
        });
        this.$emit("close");
      }
    }
  }
};
</script>

<style lang="scss">
.pay-user-craete-form {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  padding-top: 5vw;
  background-color: rgba($color: #000000, $alpha: 0.4);
  overflow-y: scroll;

  .popup-holder {
    @include form-holder;
    min-width: 350px;
    margin: 0 auto 0 auto;
    max-width: 450px;

    .close-button {
      outline: none;
    }
  }

  .form-header {
    padding-bottom: 20px;
  }

  .submit-button {
    display: block;
    width: 100%;
    margin-top: 20px;
  }
}
</style>