<template>
  <transition name="alert">
    <div class="pay-alert" v-if="GET_ALERT !== ''">
      <div class="alert alert-danger" v-html="GET_ALERT" role="alert"></div>
    </div>
  </transition>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";
export default {
  name: "pay-alert",
  computed: {
    ...mapGetters(["GET_ALERT"])
  },
  methods: {
    ...mapMutations(["SET_ALERT"]),
    hide() {
      setTimeout(() => {
        this.SET_ALERT("");
      }, 5000);
    }
  },
  watch: {
    GET_ALERT: function() {
      if (this.GET_ALERT !== "") {
        this.hide();
      }
    }
  },
  mounted() {
    this.hide();
  }
};
</script>

<style lang="scss">
.pay-alert {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
}

.alert-enter-active,
.alert-leave-active {
  transition: opacity 0.5s;
}
.alert-enter, .alert-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}
</style>
