<template>
  <div class="pay-login-form">
    <form action>
      <h4>Аутентификация</h4>
      <label for="login">Логин:</label>
      <input
        placeholder="login"
        v-model="login"
        required
        type="text"
        class="form-control"
        id="login"
      />
      <label for="password">Пароль:</label>
      <input
        placeholder="password"
        v-model="password"
        required
        type="password"
        class="form-control"
        id="password"
      />
      <button
        role="submit"
        @click.prevent="submit()"
        class="btn btn-primary button"
      >
        Войти
      </button>
    </form>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "pay-login-form",
  data() {
    return {
      login: "",
      password: ""
    };
  },
  methods: {
    ...mapActions(["LOGIN"]),
    submit() {
      this.LOGIN({
        login: this.login,
        password: this.password
      });
    }
  }
};
</script>

<style lang="scss">
.pay-login-form {
  @include form-holder;
  width: 350px;

  .button {
    display: block;
    margin: 10px 0 0 auto;
  }
}
</style>
