<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="pay-navbar">
    <router-link tag="a" class="navbar-brand" to="/">Motor-style</router-link>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" 
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <router-link tag="a" to="/" class="nav-item nav-link"
          >Управление балансом</router-link
        >
        <router-link tag="a" to="/history" class="nav-item nav-link"
          >История</router-link>
        <router-link v-if="GET_ROLE==='admin'" tag="a" to="/admin" class="nav-item nav-link"
          >Панель администратора</router-link>
          <a href="#" @click.prevent="logout()" class="nav-item nav-link">Выйти</a>
      </div>
    </div>
  </nav>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  name: "pay-navbar",
  computed:{
    ...mapGetters(["GET_ROLE"])
  },
  methods:{
    ...mapActions(["LOGOUT"]),
    logout(){
      this.LOGOUT();
    }
  }
};
</script>

<style lanh="scss">
#pay-navbar {
  position: sticky;
  top: 0;
}
</style>
