<template>
  <nav
    class="navbar navbar-expand-lg navbar-dark bg-dark"
    id="pay-admin-navbar"
  >
    <router-link tag="a" class="navbar-brand" to="/">Motor-style</router-link>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <router-link tag="a" to="/admin" class="nav-item nav-link"
          >Пользователи</router-link
        >
         <a href="#" @click.prevent="logout()" class="nav-item nav-link">Выйти</a>
      </div>
    </div>
  </nav>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "pay-admin-navbar",
  methods:{
    ...mapActions(["LOGOUT"]),
    logout(){
      this.LOGOUT();
    }
  }
};
</script>

<style lanh="scss">
#pay-navbar {
  position: sticky;
  top: 0;
}
</style>
