<template>
  <div id="app">
    <payAlert />
    <router-view />
  </div>
</template>

<script>
import payAlert from "@/components/payAlert.vue";

export default {
  name: "app",
  components: {
    payAlert
  }
};
</script>

<style lang="scss">
body {
  background-color: $bg-grey !important;
}
</style>
