<template>
  <div class="pay-table">
    <div class="lines-select-container">
      <label for="lines-quantity">количество записей:</label>
      <select
        name
        class="form-control"
        id="lines-quantity"
        @change="update()"
        v-model="linesQuantity"
      >
        <option value="10" selected>10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </div>
    <div class="table-outer">
      <div class="table-item table-header">
        <div class="table-ceil">Пользователь</div>
        <div class="table-ceil">Номер транзакции</div>
        <div class="table-ceil">Номер счета</div>
        <div class="table-ceil">Сумма транзакции</div>
        <div class="table-ceil">Дата</div>
        <div class="table-ceil">Статус</div>
        <div class="table-ceil">Код статуса</div>
        <div class="table-ceil">Дайствия</div>
      </div>
      <payTableItem
        v-for="(tr, i) of GET_TRANSACTIONS_LIST"
        :tr="tr"
        :key="'transaction' + i"
      />
    </div>
    <div class="page-controls-container">
      <div class="btn btn-dark" v-if="page !== 1" @click="prev()">
        &#60;&#60; Назад
      </div>
      <div class v-else></div>
      <div class="btn btn-dark" v-if="!TRANSACTIONS_LAST_PAGE" @click="next()">
        Вперед &#62;&#62;
      </div>
      <div v-else></div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import payTableItem from "./payTableItem.vue";

export default {
  name: "pay-table",
  data() {
    return {
      page: 1,
      linesQuantity: 10
    };
  },
  components: {
    payTableItem
  },
  computed: {
    ...mapGetters(["GET_TRANSACTIONS_LIST", "TRANSACTIONS_LAST_PAGE"])
  },
  methods: {
    ...mapActions(["TRANSACTIONS"]),
    prev() {
      if (this.page == 1) {
        return;
      }
      --this.page;
      this.update();
    },
    next() {
      if (this.TRANSACTIONS_LAST_PAGE) {
        return;
      }
      ++this.page;
      this.update();
    },
    update() {
      this.TRANSACTIONS({
        page: this.page,
        linesQuantity: this.linesQuantity
      });
    }
  },
  created() {
    this.TRANSACTIONS({
      page: this.page,
      linesQuantity: this.linesQuantity
    });
  }
};
</script>

<style lang="scss">
.pay-table {
  @include table-holder;

  .lines-select-container {
    @include table-lines-count;
  }

  .table-outer {
    border-top: solid 1px #e1e1e1;
    border-left: solid 1px #e1e1e1;
    background-color: #fff;

    .table-header {
      font-weight: bold;
      font-size: 16px;
      text-align: center;
      display: grid;
      grid-template-columns: 12% 13% 13% 10% 13% 21% 8% 10%;
      border-bottom: solid 1px #e1e1e1;

      .table-ceil {
        border-right: solid 1px #e1e1e1;
        height: 100%;
        padding: 3px;
        padding-bottom: 10px;
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        text-align: center;
      }
    }
  }

  .page-controls-container {
    margin: 10px auto 80px auto;
    display: grid;
    grid-template-columns: 140px 140px;
    align-items: center;
    justify-items: center;
    width: 200px;

    .btn.btn-dark {
      width: 125px !important;
    }
  }
}
</style>
