<template>
  <div class="pay-table-item">
    <div class="table-ceil">
      <span>{{ tr.user }}</span>
    </div>
    <div class="table-ceil">
      <span>{{ tr.transactionNumber }}</span>
    </div>
    <div class="table-ceil">
      <span>{{ tr.accountNumber }}</span>
    </div>
    <div class="table-ceil">
      <span>{{ tr.summ }}</span>
    </div>
    <div class="table-ceil">
      <span>{{ dateFormat }}</span>
    </div>
    <div class="table-ceil">
      <span>{{ tr.status }}</span>
    </div>
    <div class="table-ceil" :class="statusColor">
      <span>{{ tr.statusCode }}</span>
    </div>
    <div class="table-ceil">
      <button
        class="btn btn-primary"
        @click="
          TRANSACTION_STATUS({
            transactionNumber: tr.transactionNumber,
            accountNumber: tr.accountNumber
          })
        "
      >
        cтатус
      </button>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "pay-table-item",
  props: {
    tr: {
      type: Object,
      default() {
        return {};
      }
    }
  },
  computed: {
    dateFormat() {
      const dateObject = new Date(this.tr.date);
      return (
        dateObject.toLocaleDateString() +
        " : " +
        dateObject.toLocaleTimeString()
      );
    },
    statusColor() {
      if (this.tr.statusCode === -1) {
        return "red";
      }
      if (this.tr.statusCode >= 0 && this.tr.statusCode <= 59) {
        return "yellow";
      }
      if (this.tr.statusCode == 60) {
        return "green";
      }
      if (this.tr.statusCode >= 60) {
        return "orange";
      }

      return "";
    }
  },
  methods: {
    ...mapActions(["TRANSACTION_STATUS"])
  }
};
</script>

<style lang="scss">
.pay-table-item {
  display: grid;
  grid-template-columns: 12% 13% 13% 10% 13% 21% 8% 10%;
  border-bottom: solid 1px #e1e1e1;

  .table-ceil {
    border-right: solid 1px #e1e1e1;
    height: 100%;
    padding: 5px 7px 5px 7px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
  }

  .red {
    background-color: red;
    color: #fff;
  }
  .yellow {
    background-color: yellow;
  }

  .green {
    background-color: green;
    color: #fff;
  }
}
</style>
