<template>
  <div class="admin">
    <payAdminNavbar />
    <payAdminUsersTable />
  </div>
</template>

<script>
import payAdminNavbar from "@/components/admin/payAdminNavbar";
import payAdminUsersTable from "@/components/admin/home/payAdminUsersTable";

export default {
  name: "admin",
  components: {
    payAdminNavbar,
    payAdminUsersTable
  }
};
</script>

<style lang="scss">
.admin {
}
</style>
