<template>
  <div id="history">
    <payNavbar />
    <payTable />
  </div>
</template>

<script>
import payTable from "@/components/user/history/PayTable.vue";
import payNavbar from "@/components/user/payNavbar.vue";

export default {
  name: "history",
  components: {
    payNavbar,
    payTable
  }
};
</script>

<style lang="scss">
#history {
}
</style>
