<template>
  <div class="home">
    <payNavbar />
    <div class="home-grid">
      <div class="grid-container">
        <payBalanceForm />
      </div>
      <div class="vr-grey"></div>
      <div class="grid-container">
        <payTransaction />
      </div>
    </div>
  </div>
</template>

<script>
import payBalanceForm from "@/components/user/home/payBalanceForm.vue";
import payTransaction from "@/components/user/home/payTransaction.vue";
import payNavbar from "@/components/user/payNavbar.vue";

export default {
  components: {
    payNavbar,
    payBalanceForm,
    payTransaction
  }
};
</script>

<style lang="scss">
.home {
  .home-grid {
    min-height: calc(100vh - 56px);
    display: grid;
    grid-template-columns: 1fr 1px 1fr;

    .grid-container {
      padding-top: 30vh;
    }

    .vr-grey {
      height: 100%;
      width: 1px;
      background-color: #e1e1e1;
    }
  }
}

@media (max-width: 748px) {
  .home {
    .home-grid {
      display: block;
      padding-top: 20px;

      .grid-container {
        padding-top: 0;
      }

      .vr-grey {
        height: 1px;
        width: 100%;
        margin: 20px 0;
        background-color: #e1e1e1;
      }
    }
  }
}
</style>
