<template>
  <div class="login">
    <payLoginForm />
  </div>
</template>

<script>
import payLoginForm from "@/components/payLoginForm";

export default {
  name: "login",
  components: {
    payLoginForm
  }
};
</script>

<style lang="scss">
.login {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}
</style>
