<template>
  <div class="pay-Balance-form">
    <h4>Узнать баланс:</h4>
    <label for="balance">{{ status }}</label>
    <input
      :value="GET_BALANCE.cash"
      type="text"
      id="balance"
      disabled
      class="form-control"
    />
    <input
      type="button"
      @click="
        BALANCE();
        status = 'Запрос...';
      "
      value="Обновить"
      class="btn btn-dark button"
    />
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  data() {
    return {
      status: "Баланс:"
    };
  },
  computed: {
    ...mapGetters(["GET_BALANCE"])
  },
  methods: {
    ...mapActions(["BALANCE"])
  },
  mounted() {
    this.BALANCE();
  },
  watch: {
    GET_BALANCE: function() {
      this.status = "Баланс:";
    }
  }
};
</script>

<style lang="scss">
.pay-Balance-form {
  @include form-holder;

  .label {
    transition: all 0.3s;
  }

  #balance {
    background-color: #fff;
  }

  .button {
    margin-top: 10px;
  }
}
</style>
