<template>
  <div class="pay-transaction">
    <h4>Выполнить транзакцию:</h4>
    <label for="card">Номер карты:</label>
    <input
      v-mask="'#### #### #### ####'"
      v-model="accountNumber"
      placeholder="XXXX XXXX XXXX XXXX"
      type="text"
      id="card"
      class="form-control"
    />
    <label for="summ">Сумма:</label>
    <input
      v-model="summ"
      type="text"
      placeholder="0.0"
      id="summ"
      class="form-control"
    />
    <input
      @click="submit()"
      type="button"
      value="Отправить"
      class="btn btn-dark"
    />
  </div>
</template>

<script>
import { mapMutations, mapActions } from "vuex";
export default {
  data() {
    return {
      accountNumber: "",
      summ: ""
    };
  },
  methods: {
    ...mapMutations(["SET_ALERT"]),
    ...mapActions(["TRANSACTION"]),
    submit() {
      let errors = "";

      let acNum = this.accountNumber.replace(/ /g, "");
      if (String(acNum).length !== 16) {
        errors += "Некорректный номер карты.";
      }

      if (isNaN(Number(this.summ)) || this.summ == "") {
        errors += " Введите корректную сумму";
      }

      if (errors.length !== 0) {
        this.SET_ALERT(errors);
        return;
      }
      this.TRANSACTION({
        accountNumber: acNum,
        summ: this.summ
      });
    }
  }
};
</script>

<style lang="scss">
.pay-transaction {
  @include form-holder;

  .btn {
    margin-top: 10px;
  }
}
</style>
