$bg-grey: rgba($color: #efefef, $alpha: 0.7);
$form-bg-color: #fff;
$border-color: #e1e1e1;
@mixin form-holder {
    max-width: 350px;
    margin: 0 auto;
    background-color: $form-bg-color;
    padding: 30px;
}

@mixin table-holder {
    max-width: 1400px;
    width: 95%;
    min-width: 350px;
    margin: 80px auto 0 auto;
}

@mixin table-lines-count {
    margin: 0 0 10px auto;
    display: grid;
    grid-template-columns: 160px 100px;
    align-items: center;
    line-height: 1;
    width: 260px;
    white-space: nowrap;
    label {
        margin-bottom: 0;
    }
}